<template name="leaderboard">
    {{#if currentUser}} <!--so only signed in user can see and use this form-->
    <table>
      {{#each getPlayer}} <!--to loop through all the players-->
      <tr> <td class = "player {{selectedClassHelper}}" > {{name}} >>> {{score}} </td> </tr>
      {{/each}}    
    </table>
    {{#if showSelectedPlayer}} <!--to make sure we're not displaying something null-->
      <p>Selected Player: {{showSelectedPlayer.name}}</p>
      <input type="submit" value="-1 from score" class="decrement btn blue darken-3">
      <input type="submit" value="+1 to score" class="increment btn blue darken-3">
      <input type="submit" value="Remove Player" class="removePlayer btn blue darken-3">
    {{/if}}
    {{/if}}
  </template>