body {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.selected {
  background-color: cornflowerblue;
}

tr, td{
 border: 2px solid black;
 padding: 60px;
 text-align: center;
 font-size: 20px;
}

.increment {
  margin: 10px;
}

.decrement {
  margin: 10px;
}

.addPlayer {
  margin: 10px;
}

.removePlayer {
  margin: 10px;
}

h3, h4, p {
  color: #1565c0;
}